@page
@model Shop.UI.Pages.Checkout.CustomerInformationModel
@{
//ViewData["Title"] = "Оформление заказа";
}

<div class="page-wrapper">
    <main class="main">
        <div class="page-header text-center" style="background-image: url('/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Оформление заказа<span>Товар</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Index">Главная</a></li>
                    <li class="breadcrumb-item"><a href="/Shop">Магазин</a></li>
                    <li class="breadcrumb-item"><a href="/Cart">Корзина</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Оформление заказа</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->
        <div class="page-content">
            <div class="checkout">
                <div class="container">
                    <div class="checkout-discount">
                        <form action="#">
                            <input type="text" class="form-control" required id="checkout-discount-input">
                            <label for="checkout-discount-input" class="text-truncate">Есть скидочный купон? <span>Введите код</span></label>
                        </form>
                    </div><!-- End .checkout-discount -->
                    <form method="post">
                        <div class="row">
                            <div class="col-lg-9">
                                <h2 class="checkout-title">Информация о покупателе</h2><!-- End .checkout-title -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Имя *</label>
                                        <input type="text" class="form-control" required asp-for="CustomerInformation.FirstName">
                                        <span class="out-of-stock" asp-validation-for="CustomerInformation.FirstName"></span>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Фамилия *</label>
                                        <input type="text" class="form-control" required asp-for="CustomerInformation.LastName">
                                        <span class="out-of-stock" asp-validation-for="CustomerInformation.FirstName"></span>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label>Страна *</label>
                                <input type="text" class="form-control" required asp-for="CustomerInformation.City">
                                <span class="out-of-stockr" asp-validation-for="CustomerInformation.City"></span>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Область/Город/Улица/ *</label>
                                        <input type="text" class="form-control" required asp-for="CustomerInformation.Address1">
                                        <span class="out-of-stock" asp-validation-for="CustomerInformation.Address1"></span>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Дом/Подъезд/Квартира *</label>
                                        <input type="text" class="form-control" required asp-for="CustomerInformation.Address2">
                                        <span class="out-of-stock" asp-validation-for="CustomerInformation.Address2"></span>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Индекс *</label>
                                        <input type="text" class="form-control" required asp-for="CustomerInformation.PostCode">
                                        <span class="out-of-stock" asp-validation-for="CustomerInformation.PostCode"></span>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Телефон *</label>
                                        <input type="tel" class="form-control" required asp-for="CustomerInformation.PhoneNumber">
                                        <span class="out-of-stock" asp-validation-for="CustomerInformation.PhoneNumber"></span>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label>Электронная почта *</label>
                                <input type="email" class="form-control" required asp-for="CustomerInformation.Email">
                                <span class="out-of-stock" asp-validation-for="CustomerInformation.Email"></span>

                                <label>Особые отметки (Не обязательно)</label>
                                <textarea class="form-control" cols="30" rows="4" placeholder="Пожелания к вашему заказу, в том числе к доставке " asp-for="CustomerInformation.Wishes"></textarea>
                            </div><!-- End .col-lg-9 -->
                            <aside class="col-lg-3">
                                <div class="summary">
                                    <h3 class="summary-title">Ваш заказ</h3><!-- End .summary-title -->

                                    <table class="table table-summary">
                                        <thead>
                                            <tr>
                                                <th>Товар</th>
                                                <th>Цена</th>
                                            </tr>
                                        </thead>

                                        <tbody id="cart-med">
                                            @foreach (var product in Model.Cart)
                                            {
                                                <tr>
                                                    <td><a href="#">@product.ProductDescription - @product.Name (@product.Description)</a></td>
                                                    <td>@product.RealValue x @product.Qty</td>
                                                </tr>
                                            }
                                            <tr class="summary-subtotal">
                                                <td>Предварительная цена:</td>
                                                <td><vc:cart view="Small"></vc:cart>р.</td>
                                            </tr><!-- End .summary-subtotal -->
                                            <tr>




                                                <td>Доставка:</td>
                                                <td>Бесплатная ДЕМО</td>





                                            </tr>
                                            <tr class="summary-total">
                                                <td>Всего:</td>



                                                <td><vc:cart view="Small"></vc:cart>р.</td>



                                            </tr><!-- End .summary-total -->
                                        </tbody>
                                    </table><!-- End .table table-summary -->

                                    <div class="accordion-summary" id="accordion-payment">
                                        <div class="card">
                                            <div class="card-header" id="heading-1">
                                                <h2 class="card-title">
                                                    <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                                        Наличными при доставке
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                                <div class="card-body">
                                                    Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->

                                        <div class="card">
                                            <div class="card-header" id="heading-3">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                                        Картой при доставке
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                                <div class="card-body">
                                                    Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->

                                        <div class="card">
                                            <div class="card-header" id="heading-4">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                                        PayPal <small class="float-right paypal-link">What is PayPal?</small>
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
                                                <div class="card-body">
                                                    Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->

                                        <div class="card">
                                            <div class="card-header" id="heading-5">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                                        Картой на сайте (Stripe)
                                                        <img src="/images/payments-summary.png" alt="payments cards">
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                                                <div class="card-body">
                                                    Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
                                    </div><!-- End .accordion -->

                                    <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                        <span class="btn-text">Оплатить</span>
                                        <span class="btn-hover-text">Перейти к оплате</span>
                                    </button>
                                </div><!-- End .summary -->
                            </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </form>
                </div><!-- End .container -->
            </div><!-- End .checkout -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
